[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/donchocska
[access "refs/for/refs/*"]
	read = group user/donchocska
	push = group user/donchocska
	label-Code-Review = -2..+2 group user/donchocska
	label-Verified = -1..+1 group user/donchocska
	rebase = group user/donchocska
	removeReviewer = group user/donchocska
	submit = group user/donchocska
[access "refs/heads/*"]
	read = group user/donchocska
	create = group user/donchocska
	push = +force group user/donchocska
	pushMerge = group user/donchocska
[access "refs/tags/*"]
	push = group user/donchocska
	push = +force group user/donchocska
